@font-face {
	font-family: 'fontello';
	src: url('../font/fontello.eot?7337377');
	src: url('../font/fontello.eot?7337377#iefix') format('embedded-opentype'), url('../font/fontello.woff?7337377') format('woff'), url('../font/fontello.ttf?7337377') format('truetype'), url('../font/fontello.svg?7337377#fontello') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
	margin: 0;
	padding: 0;
	font-family: Helvetica Neue, Arial, sans-serif;
	background: #012530;
	position: relative
}

body:after {
	content: "";
	display: inline-block;
	width: 100px;
	height: 100px;
	background: url(../img/dina.svg) no-repeat;
	position: absolute;
	z-index: 1;
	left: 1em;
	top: 9em
}

footer {
	height: 10em;
	padding: 1em;
	position: relative;
	overflow: hidden;
	box-sizing: border-box;
}

footer > div {
	width: 100%;
	height: 100vh;
	border: 1px solid #01212a;
	border-radius: 50%;
	background: #002730;
	box-shadow: inset 5px 3px 20px 0 rgba(0, 0, 0, .5);
	position: absolute;
	transition: 1s;
}

footer > div:hover {
	margin-top: -1em;
}

main > .block-main-timer {
	margin: 0 auto;
	width: 423px;
	/* height: 100vh; */
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	position: relative
}

main p {
	font-weight: 700;
	color: #01202a;
	font-size: 30px
}

code {
	display: inline-block;
	background: #ffedd2;
	color: #012530;
	padding: .2em .5em;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 5px 3px 20px 0 rgba(0, 0, 0, .5);
	box-shadow: inset 5px 3px 20px 0 rgba(0, 0, 0, .5)
}

blockquote {
	padding: 1.5em;
	margin: 0;
	border-left: 5px solid #c62606;
	-webkit-box-shadow: 5px 3px 20px 0 rgba(0, 0, 0, .5);
	box-shadow: 5px 3px 20px 0 rgba(0, 0, 0, .5)
}

small {
	text-decoration: underline
}

textarea {
	resize: none;
	outline: 0;
	height: 100%;
	width: 75%;
	color: #fff;
	background: #000;
	float: right;
	overflow: hidden;
	border: 0;
	opacity: .1;
	cursor: default;
	box-sizing: border-box
}

button {
	background: #c62606;
	border: 0;
	color: #ffedd2;
	padding: .5em 1em;
	margin: 0 1em;
	cursor: pointer;
	-webkit-box-shadow: 5px 3px 20px 0 rgba(0, 0, 0, .5);
	box-shadow: 5px 3px 20px 0 rgba(0, 0, 0, .5)
}

button:hover {
	text-decoration: line-through
}

button.copy:after, button.clear:after, button.sum:after {
	margin-left: .4em;
	font-size: 105%;
	font-family: "fontello";
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	line-height: 1em;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	vertical-align: middle
}

nav a:last-child:after, nav a:nth-child(2):after {
	margin-left: .4em;
	font-size: 117%;
	font-family: "fontello";
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	line-height: 1em;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	vertical-align: middle
}

nav a:last-child:after {
	content: ''
}

nav a:nth-child(2):after {
	content: ''
}

button.copy:after {
	content: ''
}

button.clear:after {
	content: ''
}

button.sum:after {
	content: ''
}

section>.circle {
	background: #ffedd2;
	width: 10em;
	height: 10em;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-shadow: inset 5px 3px 20px 0 rgba(0, 0, 0, .5);
	box-shadow: inset 5px 3px 20px 0 rgba(0, 0, 0, .5);
	margin-top: 4em;
	overflow: hidden;
	position: relative;
	z-index: 2
}

section.arrow:before {
	content: "";
	top: 2.3em;
	display: inline-block;
	width: .5em;
	height: 12em;
	background: linear-gradient(#4c0404,#011a21);
	position: absolute;
	margin: 0 4.7em;
	border-top: .6em solid #c62606;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	z-index: 1;
	-webkit-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-animation: turn 4s infinite linear;
	animation: turn 4s infinite linear
}

@-webkit-keyframes turn {
	0% {
		-webkit-transform: rotateZ(0deg);
		-webkit-transform-transform: rotateZ(0deg)
	}
	25% {
		-webkit-transform: rotateZ(90deg);
		-webkit-transform-transform: rotateZ(90deg)
	}
	50% {
		-webkit-transform: rotateZ(180deg);
		-webkit-transform-transform: rotateZ(180deg)
	}
	75% {
		-webkit-transform: rotateZ(270g);
		-webkit-transform-transform: rotateZ(270g)
	}
	to {
		-webkit-transform: rotateZ(360deg);
		-webkit-transform-transform: rotateZ(360deg)
	}
}

#nav-menu {
	display: none
}

nav.menu {
	max-width: 19em;
	height: 100vh;
	font-size: 14px;
	color: #ffedd2;
	position: fixed;
	overflow: auto;
	z-index: 4;
	background: #01212b;
	-webkit-box-shadow: inset 5px 3px 20px 0 rgba(0, 0, 0, .5);
	box-shadow: inset 5px 3px 20px 0 rgba(0, 0, 0, .5)
}

nav.menu.on {
	-webkit-animation: shift .7s cubic-bezier(.47, 1.74, .58, .41);
	animation: shift .7s cubic-bezier(.47, 1.74, .58, .41)
}

nav.menu::-webkit-scrollbar {
	width: 0;
	height: 0;
	display: none
}

nav.menu::-webkit-scrollbar-thumb {
	width: 0
}

nav.menu.open {
	display: block;
	width: 15%;
	left: 15%
}

nav.menu>section {
	padding: 5em 2.5em 0 2.5em;
	text-align: justify;
	word-spacing: -.3ex;
	position: relative
}

nav a {
	text-decoration: none;
	color: #ffc85a
}

nav .foter {
	text-align: center;
	font-size: 14px;
	margin-bottom: 2em
}

@-webkit-keyframes shift {
	0% {
		left: -15%
	}
	to {
		left: 0
	}
}

.head-nav {
	width: 100%;
	background: #c62606;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: .5em 1em;
	text-align: center;
	text-transform: uppercase
}

.circle:after {
	content: '';
	display: inline-block
}

.ram {
	height: 100%;
	background: #c62606;
	-webkit-border-radius: 9px;
	border-radius: 9px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: end;
	-webkit-align-items: flex-end;
	-ms-flex-align: end;
	align-items: flex-end;
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none
	
}

.romb {
	width: 8em;
	height: 5em;
	background: #ffc85a;
	padding: .3em .3em .3em 0;
	border-top: .1em solid #012530;
	border-right: .1em solid #012530;
	border-bottom: .1em solid #012530;
	-webkit-border-radius: 13px;
	border-radius: 13px;
	overflow: hidden
}

.circle_two {
	width: 4em;
	height: 4em;
	margin-right: 1em;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	background: #ffedd2;
	font-weight: 700;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: end;
	-webkit-align-items: flex-end;
	-ms-flex-align: end;
	align-items: flex-end;
	position: relative
}

.circle_two>span:first-child {
	position: absolute;
	left: .3em;
	margin: 0;
	font-size: 30px
}

span {
	display: block;
	width: 22px;
	text-align: center;
	margin: 0 .6em
}

span.bord {
	border-bottom: 2px solid #012530;
	display: block;
	width: 22px
}

.block-button {
	margin-top: 2em;
	position: relative
}

.block-button>input[type=checkbox],
section>input[type=checkbox] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: 40px;
	height: 20px;
	background: #656565;
	position: absolute;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	outline: 0;
	-webkit-box-shadow: inset 1px 2px rgba(0, 0, 0, .3);
	box-shadow: inset 1px 2px rgba(0, 0, 0, .3);
	-webkit-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
	left: 3.5em;
	top: 3.4em
}

section>input[type=checkbox] {
	position: sticky;
	position: -webkit-sticky;
	vertical-align: middle
}

.block-button>input[type=checkbox]:checked,
section>input[type=checkbox]:checked {
	background: #248fea
}

.block-button>input[type=checkbox]:before,
section>input[type=checkbox]:before {
	content: "";
	display: block;
	width: 14px;
	height: 14px;
	margin: 3px;
	position: absolute;
	background: #fff;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	cursor: pointer;
	-webkit-box-shadow: 0 2px 0 0 rgba(0, 0, 0, .5);
	box-shadow: 0 2px 0 0 rgba(0, 0, 0, .5);
	-webkit-transition: .5s;
	-o-transition: .5s;
	transition: .5s;
	-webkit-animation: bias-l .5s infinite linear;
	animation: bias-l .5s linear
}

.block-button>input[type=checkbox]:checked:before,
section>input[type=checkbox]:checked:before {
	right: 0;
	-webkit-transition: .5s;
	-o-transition: .5s;
	transition: .5s;
	-webkit-animation: bias-r .4s infinite linear;
	animation: bias-r .4s linear
}

.table {
	display: table;
	color: #fff;
	margin-top: 3em;
	position: relative
}

.table input {
	outline: 0;
	text-align: center;
	background: none;
	border: 0;
	color: #fff
}

.row {
	display: table-row;
	position: relative;
	background: #002630
}

.row:first-child .cell:nth-child(1) {
	-webkit-box-shadow: none;
	box-shadow: none;
	border: 0
}

.row .cell:nth-child(1) {
	width: 11px;
	height: .8em;
	border: 1px solid #0a3542;
	-webkit-border-radius: 6px 0 0 6px;
	border-radius: 6px 0 0 6px;
	padding: 9px;
	position: absolute;
	left: -2em;
	margin-block-start: -22px;
	-webkit-box-shadow: inset 3px 3px 6px 0 rgba(0, 0, 0, .5);
	box-shadow: inset 3px 3px 6px 0 rgba(0, 0, 0, .5)
}

.row .cell:last-child {
	text-align: right
}

.row:first-child {
	-webkit-box-shadow: inset 5px 3px 20px 0 rgba(0, 0, 0, .5);
	box-shadow: inset 5px 3px 20px 0 rgba(0, 0, 0, .5)
}

.row:first-child .cell {
	white-space: nowrap;
	color: #8c8b94;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none
}

.row:hover:after {
	content: '';
	background: url(../img/magic.svg) no-repeat;
	-webkit-background-size: 13em 13em;
	background-size: 13em;
	background-position: -127px;
	width: 9px;
	height: .8em;
	cursor: pointer;
	padding: .6em;
	border: 1px solid #0a3542;
	-webkit-border-radius: 0 6px 6px 0;
	border-radius: 0 6px 6px 0;
	position: absolute;
	margin-block-start: -22px;
	-webkit-box-shadow: inset 3px 3px 6px 0 rgba(0, 0, 0, .5);
	box-shadow: inset 3px 3px 6px 0 rgba(0, 0, 0, .5)
}

.row:hover:first-child:after {
	border: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	background: 0 0;
	cursor: default
}

.cell {
	display: table-cell;
	padding: .5em 1em;
	text-align: center;
	border-bottom: 1px solid #0a3542
}

.cell:nth-child(2n) {
	color: #ffc85a
}

.cell>input[type=checkbox] {
	margin: 0 auto;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: 15px;
	height: 15px;
	cursor: pointer
}

.ico {
	font-family: "fontello";
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	line-height: 1em;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

.cell>input[type=checkbox]:checked:before {
	content: '';
	margin-left: -.1em;
	margin-right: .2em;
	font-size: 131%;
}

.magic {
	background: url(../img/magic.svg) no-repeat;
	-webkit-background-size: 16em 16em;
	width: 25px;
	height: 25px;
	position: absolute;
	z-index: 3
}

.mag-1 {
	background-position: 1px;
	top: 53px
}

.mag-2 {
	background-position: -24px;
	top: 70px;
	left: 183px
}

.mag-3 {
	background-position: -45px;
	top: 61px;
	right: 232px
}

.mag-4 {
	background-position: -69px;
	top: 38px;
	left: 180px
}

.mag-5 {
	background-position: -92px;
	top: 32px;
	left: 158px
}

.mag-6 {
	background-position: -115px;
	top: 16px;
	left: 167px
}

.mag-7 {
	background-position: -138px;
	top: 4px;
	left: 170px
}

.menu-block {
	width: 40px;
	height: 40px;
	display: inline-block;
	cursor: pointer;
	position: absolute;
	top: 3em;
	left: 2em;
	z-index: 5
}

.menu-block-sandwich {
	width: 33px;
	height: 4px;
	background: #ffc85a;
	box-shadow: 4px 3px 0 0 rgba(0, 0, 0, .7);
	position: absolute;
	top: 18px
}

.menu-block-sandwich:after,
.menu-block-sandwich:before {
	content: "";
	height: 4px;
	background: #ffc85a;
	position: absolute;
	-webkit-transform: rotate(0);
	-ms-transform: rotate(0);
	transform: rotate(0);
	-webkit-transition: .7s;
	-o-transition: .7s;
	transition: .7s;
	-webkit-box-shadow: 4px 3px 0 0 rgba(0, 0, 0, .7);
	box-shadow: 4px 3px 0 0 rgba(0, 0, 0, .7)
}

.menu-block-sandwich:before {
	top: -8px;
	width: 30px
}

.menu-block-sandwich:after {
	top:8px;
	width: 40px
}

.menu-block.open > .menu-block-sandwich{
	height: 100%;
	width: 100%;
	background: 0 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	top: 0
}

.menu-block.open > .menu-block-sandwich:before,
.menu-block.open > .menu-block-sandwich:after {
	width: 40px;
	top: 18px;
	-webkit-box-shadow: none;
	box-shadow: none
}


.menu-block.open > .menu-block-sandwich:before {
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg)
}

.menu-block.open > .menu-block-sandwich:after {
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg)
}

@-webkit-keyframes bias-l {
	0% {
		right: 0
	}
	25% {
		right: 11px
	}
	50% {
		right: 14px
	}
	70% {
		right: 12px
	}
	80% {
		right: 20px
	}
	90% {
		right: 15px
	}
	to {
		right: 20px
	}
}

@-webkit-keyframes bias-r {
	0% {
		right: 20px
	}
	25% {
		right: 19px
	}
	50% {
		-webkit-border-radius: 0;
		border-radius: 0;
		right: 17px
	}
	75% {
		right: 12px
	}
	to {
		right: 0
	}
}

div#message {
	display: none
}

div#message.open {
	width: 20em;
	padding: 1em;
	text-align: center;
	color: #012530;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	background: #fff;
	position: absolute;
	display: block;
	top: -webkit-calc(100% - 35%);
	top: -webkit-calc(100% - 35%);
	top: calc(100% - 35%);
	z-index: 77;
	opacity: 0;
	-webkit-animation: extinction 1s linear;
	animation: extinction 1s linear
}

@-webkit-keyframes extinction {
	0% {
		opacity: 1
	}
	50% {
		opacity: .5
	}
	to {
		opacity: 0;
		display:none
	}
}

.timeline {
	max-width: 329px;
	display: inline-block;
	border: 1px solid #0a3542;
	border-radius: 4px;
	padding: 1em;
	position: absolute;
	top: 20.5em;
	left: 2em
}

.block-hour {
	display: inline-block;
	text-align: right
}

.block-hour > div {
	width: 20px;
	height: 20px;
	font-size: 11px;
	color: #767676;
	margin: 5px 5px 0 5px;
	display: inline-block;
	position: relative;
	text-align: center;
	cursor: default
}

.block-hour > div:hover {
	color: #8c8b94
}

.working-day {
	width: 45px;
	height: 99px;
	margin-top: 26px;
	float: left
}

.working-day > div {
	width: 100%;
	height: 20px;
	display: inline-block;
	color: #767676;
	font-size: 11px;
	padding: 1px;
	margin: 6px;
	cursor: default
}

.working-day > div:hover {
	color: #8c8b94
}

.blocks-time-hour {
	width: 20px;
	height: 20px;
	display: inline-block;
	margin: 5px;
	//overflow: hidden;
	position: relative;
	webkit-box-shadow: inset 5px 3px 20px 0 rgba(0, 0, 0, .5);
	box-shadow: inset 5px 3px 20px 0 rgba(0, 0, 0, .5)
}

.blocks-time-hour > div {
	height: 20px;
	position: absolute;
	left: 0;
	transition: 1s;
	webkit-box-shadow: inset 5px 5px 0 0 rgba(0, 0, 0, .5);
	box-shadow: inset 5px 5px 0px 0 rgba(0, 0, 0, .5)
}

.blocks-time-hour:before {
	content: 'hour of working time';
	width: 130px;
	font-size: 11px;
	text-align: center;
	display: none;
	background: #8b8b94;
	color: #fff;
	padding: .5em;
	position: absolute;
	top: -30px;
	left: -60px
}

.blocks-time-hour:after {
	content: '';
	border: 7px solid transparent;
	border-top: 7px solid #8b8b94;
	display: none;
	position: absolute;
	top: -7px;
	left: 3px
}

.blocks-time-hour:hover:before, .blocks-time-hour:hover:after {
	display: inline-block
}

.signature {
	color: #1f4aeb;
	font-size: 11px;
	margin-left: 4.5em;
	cursor: default
}

.flag {
	width: 10em;
	height: 5em;
	background: #ffc85a;
	position: absolute;
	right: 0;
	top: -webkit-calc(100vh - 60%);
	top: calc(100vh - 60%);
	border-right: .4em solid #c59940;
	-webkit-border-radius: 4px 0 0 4px;
	border-radius: 4px 0 0 4px
}

.flag:before {
	content: "";
	position: absolute;
	border: 2.5em solid transparent;
	border-left: 2em solid #012530;
	left: -1px
}

.flag:after {
	width: 8em;
	position: absolute;
	content: "simple event log";
	font-weight: 100;
	font-size: 10px;
	color: #fff;
	bottom: -14px;
	left: 6em
}

#contextmenu {
	width: 7em;
	background: #fff;
	display: none;
	padding: 0;
	border-radius: 4px;
	list-style: none;
	position: absolute;
	z-index: 5;
	box-shadow: 9px 8px 0px 0 rgba(0, 0, 0, .5)
}

#contextmenu>li {
	width: 100%;
	padding: .5em;
	box-sizing: border-box;
	font-size: 14px
}

#contextmenu>li:hover {
	background: #eee;
	border-radius: 4px;
	cursor: pointer
}

#contextmenu:before {
	content: "contextmenu";
	display: inline-block;
	width: 7em;
	border-bottom: 1px solid #ccc5c5;
	border-radius: 4px 4px 0 0;
	background: #ffc85a;
	color: #012530;
	padding: .5em;
	font-size: 14px;
	text-align: center
}

.all-passed {
	color: #011c25;
	position: absolute;
	bottom: -3em;
	right: -6.5em;
	font-weight: bold;
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none
}

.visible {
	/* opacity: 0; */
}

.row.dashed {
	width: 426px;
	height: 35px;
}

.row.dashed + .row {
	border: 1px dashed #fff;
}